<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PPIRL</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/results.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/select.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
        <script src="{{ url_for('static', filename='javascript/jquery-3.2.1.min.js')}}"></script>
        <script src="{{ url_for('static', filename='javascript/popper.min.js')}}"></script>
        <script src="{{ url_for('static', filename='javascript/bootstrap.min.js')}}"></script>
    </head>

    <body id="wrapper">
        <div style="display: flex">
            <img src="{{ url_for('static', filename='images/site/population_informatics_icon.png')}}">
            <div id="title">
                <h3>{{ title }}</h3>
            </div>
        </div>
    </body>   
    <body id="wrapper">
        {% include "header.html" %}
    </body>
    <body>
        <div id="flex-row-wrapper">
            {% include "table.html" %}
            {% include "results.html" %}
        </div>
    </body>
    <br />
    <br />
    <body>
        <div id="footer_filler"></div>
        <footer class="footer">
            <div class="container">
                <span class="text-muted">Copyright © 2017 • Population Informatics Lab • Texas A&M University</span>
            </div>
        </footer>
    </body>
</html>
