
           <!--  <div id="page-number"  style="margin-left: 40%;">
                （ page: {{ page_number }}/17 ）
            </div> -->
        <div style="clear:both"></div>
        <div id="content" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; padding: 20px;">
            <div style="flex-basis: 55%; min-width: 300px; margin-right: 1%; margin-top: 0.4em; font-size:1.1em">
                <ul>
                    <li>Note: To see all features, please use Google Chrome or Safari browser.</li>
                    <li>Here is the link to the tutorial:
                        <ul>
                            <li><a href="https://docs.google.com/presentation/d/1lar4eXquiGIoLF2zrSbjAqjdI6egP5O5/edit?slide=id.p18#slide=id.p1" target="_blank">Click to see a short instructional tutorial</a></li>
                        </ul>
                    </li>
                    <li>These are the results of the selections.</li>
                </ul>
            </div>

		<!-- <div  style="flex-basis: 49%; flex-direction: column; align-items: center; width: 30%; background-color: transparent; margin: 0; padding: 0;">
			<img src="https://i.postimg.cc/sXZbJNM5/legend.png" style="width: 70%; max-width: 800px; height: auto;">

		</div> -->