<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loading...</title>
</head>
<script src="{{ url_for('static', filename='javascript/mobile_table.js') }}"></script>
<body>
    <div id="content">Loading...</div>

    <script>
        function handleResize() {
            const screenWidth = window.innerWidth;

            console.log(screenWidth)
            fetch("/screen", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ width: screenWidth })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("content").innerHTML = data.template;
                addColumnPager('#mobile-table', 1)
            })
            .catch(error => {
                console.error("Error:", error);
                document.getElementById("content").innerText = "An error occurred.";
            });
        }
    
        // Event listener for initial page load
        document.addEventListener("DOMContentLoaded", handleResize);
    
        // // Event listener for window resize
        // document.addEventListener("resize", handleResize);
    </script>
    
</body>
</html>


