<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose View</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        button {
            padding: 15px 30px;
            margin: 20px;
            font-size: 18px;
            cursor: pointer;
        }
    </style>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=9999" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/select.css') }}?v=9999" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css')}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
</head>

<!-- <body>
    <h1>Select a View</h1>
    <div>
        <a href="{{ url_for('mobile') }}">
            <button class="landing-button">Mobile View</button>
        </a>
    </div>
    <div>
        <a href="{{ url_for('desktop') }}">
            <button class="landing-button">Desktop View</button>
        </a>
    </div>
</body> -->
<body style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; font-family: sans-serif; background-color: #f9f9f9;">
    <h1 style="margin-bottom: 40px; font-size: 2em; color: #333;">Select a View</h1>
    
    <div style="margin: 10px;">
        <a href="{{ url_for('mobile') }}">
            <button class="landing-button">
                Mobile View
            </button>
        </a>
    </div>

    <div style="margin: 10px;">
        <a href="{{ url_for('desktop') }}">
            <button class="landing-button">
                Desktop View
            </button>
        </a>
    </div>
    <p>Click below to go to the admin page.</p>
    <form action="{{ url_for('admin_page') }}">
        <input type="password" name="password" placeholder="Admin password" required>
        <button type="submit">View Redis Data</button>
    </form>
</body>

</html>
